.panels-layout {
  display: flex;
  height: 100%;
  @media (max-width: 576px) {
    flex-direction: column;
  }

  .left-panel {
    width: 300px;
    @media (max-width: 576px) {
      width: 100%;
      height: 40%;
    }
  }

  .right-panel {
    flex: 1;
    @media (max-width: 576px) {
      height: 60%;
    }
  }
}
